body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f0f0f0; /* Fallback color if the image is not available */
    color: green; /* Font color */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sigmar', cursive;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

.profile {
    float: left;
    margin: 10px;
    text-align: center;
}
